#Dialer { width: 60px; height: 30px; background: blue; color: white; margin: 10px;
font-size: 16px; font-weight: bold; padding: inherit; border-color: 000066}
#Contacts { width: 80px; height: 30px; background: blue; color: white; margin: 10px;
font-size: 16px; font-weight: bold; padding: inherit; border-color: 000066}
#Add_Contact { width: 80px; height: 45px; background: blue; color: white; margin-left: 10px;
font-size: 16px; font-weight: bold; padding: inherit; border-color: 000066}
